@charset "utf-8";

/*-----------------------------------------------------
 | 全体のスタイル定義
 |
 */
body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
